<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    
    
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/upload" class="active">Upload</a>
    </div>
    <div class="upload-file-container">
        <form method="post" action="/upload-file-pic" enctype="multipart/form-data">
            <div>
                <h1>HANDLING FILE UPLOAD WITH EXPRESS.JS AND MULTER</h1>
                <p>input a picture</p>
                <input type="file" name="profile_pic">
            </div>
            

            <div>
                <button type="submit">Save file</button>
            </div>
        </form>

        <hr style="  display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;">
        <form method="post" action="/upload-file-pics" enctype="multipart/form-data">
            <div>
                <h1>HANDLING MULTIPLE FILES UPLOAD WITH EXPRESS.JS AND MULTER</h1>
                <p>input multiple pictures</p><input type="file" name="file-pics" multiple>
            </div>
            

            <div>
                <button type="submit">Save files</button>
            </div>
        </form>
    </div>
        
   
    
      
</body>
</html>